.cosmic{
    color:black;
    background-color: paleturquoise;
    text-align: center;
    font-family: Times New Roman;
}
#headfile{
    color:red;
    text-align: center;
    font-family: Times New Roman;
}

